<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Configure facil su entorno</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="    background: #333;">
  <button  style="  background: #CC0000;
  border-radius: 15px 50px;
  cursor: pointer;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 180px;
  margin-top: 5px;
  margin-right: 5px;
  color:white;
  " onclick="location.href='Content.html'" type="button" class="btn btn-success">Volver a Configuracion</button>
 
        <div>Inicie pedidos a las sillas en las barras o a las mesas para un control facil.</div>
        <p>Agregue productos a los pedidos con simples clicks sin necesidad de digitar.</p>
    </body>
</html>
