<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
 
    <body style="    background: #333;">
  <div style="display: block; display: inline-block; "> <img src="../images/login.jpg" width="152" height="140">
  <p style="color:white; ">agregue mesas,barras y sillas desde la barra de la derecha acorde al entorno de su negocio</p>
     
  <button  style="  background: #CC0000;
  border-radius: 15px 50px;
  cursor: pointer;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 180px;
  margin-top: 5px;
  margin-right: 5px;
  color:white;
  " onclick="location.href='Configure.html'" type="button" class="btn btn-success">Ahora mira como usarlo</button>
</div>
           
    </body>
</html>
