<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div><ul>
	<li><a class="box" href="configure.html" target="content">Load white page</a></li>
	<li><a href="green.html" target="content">Load green page</a></li>
</ul></div>
            <div class ="woowBack">
                            <div class="col-md-4">
                            
                            <div class="woow">         
                            </div>
                            </div>
                           
                            <div class="col-md-4">
                            <div class="woow">         
                            </div>
                            </div>
                            <div class="col-md-4">
                            <div class="woow">         
                            </div>
                            </div>
                    <div class="row">
                    <div class="woowc-wrapper">
                            <div class="col-md-4">
                            <div class="woowc">         
                            </div>
                            </div>
                            <div class="col-md-4">
                            <div class="woowc">         
                            </div>
                            </div>
                            <div class="col-md-4">
                            <div class="woowc">         
                            </div>
                            </div>
                            </div>
                        </div>
                </div>
    </body>
</html>
