<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>La mejor opción en software pos de comidas rapidas!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="    background: #333;">
            
        <div style="float:left;"> <img src="../images/rapid.jpg" alt="Smiley face" width="112" height="90"></div>
        <div style="float:right;"><h4 style="color:white"> Empieza a gestionar tu punto de venta de comidas rapidas!</h4></div>
    </body>
</html>
