<div>
            <script type="text/ng-template" id="CSSModal.html">
                <div class="modal-header" style="   background: #333;">
                   <iframe src="https://contactsoft.azurewebsites.net" style="zoom:0.60" width="99.6%" height="450" frameborder="0"></iframe>
                   
                    
                    <div class="modal-footer" style="background: #333;">
                    <p>Si no puedes ver la pagina en el modal haz click al boton a tu derecha</p>
                    <button class="btn btn-success" ng-click="search()">Ir a Contactsoft</button>
                    <button class="btn btn-warning" ng-click="close()">Back</button>
                </div>
            </script>
</div>
<div>
            <script type="text/ng-template" id="RapidModal.html">
                <div class="modal-header" style="   background: #333;">
                      <iframe src="./partials/Rapidsoft.html" style="zoom:0.60" width="99.6%" height="450" frameborder="0"></iframe>
                    <h3 class="modal-title">Rapidsoft</h3>
                </div>
                
                    <div class="modal-footer" style="   background: #333;">
                    <button class="btn btn-warning" ng-click="close()">Back</button>
                </div>
            </script>
</div> 
<div>
            <script type="text/ng-template" id="FCIModal.html">
                <div class="modal-header" style="   background: #333;">
                      <iframe src="../images/FCI.pdf" style="zoom:0.60" width="99.6%" height="450" frameborder="0"></iframe>
                    <h3 class="modal-title">Folleto FCI</h3>
                </div>
                    <div class="modal-body" style=" background: -webkit-linear-gradient(top, black, #666);
    background: -o-linear-gradient(top, black, #666);
    background: -moz-linear-gradient(top, black, #666);
    background: linear-gradient(top, black, #666);">
                   <p>Documento pdf, recuerda mirar las 2 paginas</p>
                   </div>
                    <div class="modal-footer" style="   background: #333;">
                    <button class="btn btn-warning" ng-click="close()">Back</button>
                </div>
            </script>
</div> 
<div class="home">

<div class="row">
  
<div class="col-sm-6">

                            <div class="col-md-4">
                            
                            <div class="woow">         
                            </div>
                            </div>
                           
                            <div class="col-md-4">
                            <div class="woow">         
                            </div>
                            </div>
                            <div class="col-md-4">
                            <div class="woow">         
                            </div>
                            </div>
                    <div class="row">
                    <div class="woowc-wrapper">
                            <div class="col-md-4">
                            <div class="woowc">         
                            </div>
                            </div>
                            <div class="col-md-4">
                            <div class="woowc">         
                            </div>
                            </div>
                            <div class="col-md-4">
                            <div class="woowc">         
                            </div>
                            </div>
                            </div>
                        </div>
        
</div>
</div>
    </div>
<h1>
José Fernando herrera - 1.0
</h1>


<div class="container">
       <br>
    <div id="mycarousel" class="carousel slide"  data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
            <li data-target="#mycarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">       
                <div class="carousel-caption">
                    <p>Proyecto actual en web, permite manejar listas de contactos para las personas cuyo trabajo es telefonico, para este proyecto se esta incorporando elementos de machine learning para ayudar a medir la efectividad de las llamadas y ayudar a priorizar para reducir las llamadas perdidas o no concretadas.</p>
                    <h2>Proyecto en web.</h2>
                    <a type="button" class="btn btn-lg btn-primary" ng-click="openCSSModal()">Ver contactsoft</a>
                </div>
              
            </div>
            <div class="item">
            <div class="carousel-caption">
                <img src="../images/intereses.png"  width="450" height="300">
                    <h2>Intereses Actuales.</h2>
                </div>               
            </div>
            <div class="item">

                <div class="carousel-caption">
                    <p>Proyecto desarrollado para la clase ingenieria de software, para este proyecto use varios patrones de diseño como Singleton, Observer Y DAO, el desarrollo de la aplicacion fue enfocado hacia los atributos de calidad, usabilidad, eficiencia y mantenibilidad. </p>
                    <h2>Proyecto Rapidsoft.</h2>
                    <a type="button" class="btn btn-lg btn-primary" ng-click="openRapidModal()"> Ver Rapidsoft</a>
                </div>
            </div>
            <div class="item">
                <div class="carousel-caption">
                   <p>Aplicacion desarrollada para el negocio familiar, lleva mas de 3 años en uso sin presentar problemas, me ayudo mucho a entender las dificultades de implementar un sistema en una organizacion donde los empleados tienen poco conocimiento sobre computadores.</p>
                    <h2>Mi primer proyecto.</h2>
                    <a type="button" class="btn btn-lg btn-primary" ng-click="openFCIModal()"> Ver folleto</a>
                </div>
                
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#mycarousel" role="button"  data-slide="prev" ng-non-bindable>
            <span class="glyphicon glyphicon-chevron-left"></span>
            
        </a>
        <a class="right carousel-control" href="#mycarousel" role="button"  data-slide="next" ng-non-bindable>
            <span class="glyphicon glyphicon-chevron-right"></span>
           
        </a>
    </div> <!-- Carousel -->
</div>



<div class="fb-like" data-href="http://jh-fcijfh.rhcloud.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
