<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Rapidsoft</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
       <frameset rows="100, *">
         <frame name="content" src="HeadRapid.html" marginheight="0" marginwidth="0" scrolling="auto" noresize/>
          
         <frame name="content" src="Content.html" marginheight="0" marginwidth="0" scrolling="auto" noresize/>
             
<noframes>
<p>This section (everything between the 'noframes' tags) will only be displayed if the users' browser doesn't support frames. You can provide a link to a non-frames version of the website here. Feel free to use HTML tags within this section.</p>
</noframes>

</frameset>
    <body>
        <div>Empieza a gestionar tu punto de venta de comidas rapidas!
         
</div>
    </body>
</html>
